JWT_SECRET=your_jwt_secret
JWT_EXPIRY_HOURS=8
MONGO_URI=mongodb://localhost:27017/experiencedb
KAFKA_BROKER=localhost:29092
RABBITMQ_URL=amqp://localhost
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password
REDIS_URL=redis://localhost:6379
GROQ_API_KEY=your_secret
USER_SERVICE_URL=http://localhost:8081
AI_SERVICE_URL=http://localhost:8060
